button {
    padding: 8px 20px;
    background: transparent;
    border: none;
    outline: none;
    color: var(--green-color);
    font-family:var(--primary-font);
    font-weight: bolder;
    font-size: 17px;
    border: 0.1px solid var(--green-color);
    border-radius: 10px;
}

button:hover {
    transition: all .3s ease-in-out;
    background: transparent;
    backdrop-filter: blur(90px);
    box-shadow: inset 0px 0px 90px 100px var(--green-color);
    color: white;
}
button:active {
    transition: all .1s ease-in-out;
    background: transparent;
    backdrop-filter: blur(90px);
    box-shadow: inset 0px 0px 90px 100px var(--green-color);
    transform: scale(0.9);
    color: white;
}