.section-projects {
    width: auto;
    padding: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    background: transparent;
    color: aliceblue;
}
.highlight {
    color: var(--green-color);
}
.content {
    width: 18rem;
    height:60vh;
    text-align: center;
    padding:100px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.5rem;
    margin: 0;
}
.f-container {
    width: 39rem;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}
.f-links {
    width: 270px;
    height: 160px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    justify-content: end;

}
.f-links:nth-child(1) {
    background-image: url('../images/calculator.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.f-links:nth-child(2) {
    background-image: url('../images/nike-min.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.f-links:nth-child(3) {
    background-image: url('../images/code-editor.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.f-links:nth-child(4) {
    background-image: url('../images/portfolio.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.f-links:nth-child(5) {
    background-image: url('../images/todolist.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.feature {
    width: 100%;
    height:60px;
    line-height: 60px;
    border-radius: 15px;
    background: transparent;
    backdrop-filter: blur(90px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.feature > h1 {
    margin: 0;
    color: var(--link-color);
}
.feature > i {
    padding: 20px 0px;
}
@media (max-width:1120px) {
    .section-projects {
        padding: 30px;
        flex-direction: column;
    }
    .content {
        width: auto;
        margin: auto;
        height: 40vh;
    }
    .f-container {
        margin: auto;
        flex-wrap: wrap;
    }
}
@media (max-width:720px) {
    .section-projects {
        padding: 30px;
        flex-direction: column;
    }
    .content {
        width: auto;
        margin: auto;
        height: 30vh;
    }
    .f-container {
        width: 80%;
        flex-direction: column;
        margin: auto;
        padding: 20px 0px;
        flex-wrap: wrap;
    }

    .f-links {
        width: 280px;
        height: 130px;
        border: 1px solid white;
        border-radius: 20px;
        padding: 25px 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

}
@media (max-width:480px) {
    .section-projects {
        flex-direction: column;
    }
    .content {
        width: auto;
        margin: auto;
        font-size: 2rem;
        height: 30vh;
    }
    .f-container {
        width: auto;
        flex-direction: column;
        margin: 0;
        padding: 15px;
        flex-wrap: wrap;
    }
    .f-links {
        width: 250px;
        height: 130px;
        border: 1px solid white;
        border-radius: 20px;
        padding: 25px 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

}
