.section-1 {
    margin: 100px auto;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.section-1 h1 {
    color: white;
    font-size: var(--font-size-2);
}

.highlight {
    color: var(--green-color);
}

.banner-content {
    width: 40%;
    height: auto;
    padding: 10px 30px;
}

.host-img {
    width: 300px;
    height: 300px;
    background: url(images/avatar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: 60px auto;
    box-shadow: 0px 0px 90px 20px var(--link-color);
}


@media only screen and (max-width: 429px) {
    .section-1 {
        padding: 100px auto;
        flex-direction: column-reverse;
    }

    .banner-content {
        width: auto;
        height: 40%;
        padding: 20px;
    }


}

/* Medium devices (430px to 539px) */
@media only screen and (min-width: 430px) and (max-width: 539px) {

    .section-1 {
        padding: 100px auto;
        flex-direction: column-reverse;
    }

    .banner-content {
        width: auto;
        height: 40%;
        padding: 20px;
    }
}

/* Large devices (540px to 689px) */
@media only screen and (min-width: 540px) and (max-width: 689px) {

    .section-1 {
        padding: 100px auto;
        flex-direction: column-reverse;
    }

    .banner-content {
        width: auto;
        height: 40%;
        padding: 20px;
    }

}

/* Extra Large devices (690px to 749px) */
@media only screen and (min-width: 690px) and (max-width: 749px) {
    .section-1 {
        padding: 100px auto;
        flex-direction: column-reverse;
    }

    .banner-content {
        width: auto;
        height: 40%;
        padding: 20px;
    }
}

/* Super Large devices (750px to 849px) */
@media only screen and (min-width: 750px) and (max-width: 849px) {}

/* Ultra Large devices (850px to 991px) */
@media only screen and (min-width: 850px) and (max-width: 991px) {}

/* Massive devices (992px to 1199px) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Colossal devices (1200px to 1399px) */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    /* Styles for colossal devices */
}

/* Enormous devices (1400px and above) */
@media only screen and (min-width: 1400px) {
    /* Styles for enormous devices */
}