<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs | Muhammad affan</title>
    <!--___stylings___-->
    <link rel="stylesheet" href="../style/blogs.css">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/button.css">
    <link rel="stylesheet" href="../style/scroll.css">
</head>
<body>
    <main>
        <article>
            <section class="blog-section">
                <h1>Explore my <span class="highlight">blogs</span></h1>
                <div class="blogs-container">
                    <!-- ____Create Blogs as you needed ____-->
                     <div class="blogs">
                        <img src="../images/html.svg" alt="" class="blog-img">
                        <h3>Basics of html 5</h3>
                        <!-- ____ write a line describing your blog upto 10 words -->
                         <p>jfhejfh fehfujheufh ehfejhfejhf efjhejfhejf ejfhejfhejhf efbefhehf jehfehfujhef efjhejfhjef ehjfejkhfjehf jehfjehfjkehfjk</p>
                         <a href="#">See more ..</a>
                     </div>
                     <div class="blogs">
                        <img src="../images/html.svg" alt="" class="blog-img">
                        <h3>Basics of html 5</h3>
                        <!-- ____ write a line describing your blog upto 10 words -->
                         <p>jfhejfh fehfujheufh ehfejhfejhf efjhejfhejf ejfhejfhejhf efbefhehf jehfehfujhef efjhejfhjef ehjfejkhfjehf jehfjehfjkehfjk</p>
                         <a href="#">See more ..</a>
                     </div>
                     <div class="blogs">
                        <img src="../images/html.svg" alt="" class="blog-img">
                        <h3>Basics of html 5</h3>
                        <!-- ____ write a line describing your blog upto 10 words -->
                         <p>jfhejfh fehfujheufh ehfejhfejhf efjhejfhejf ejfhejfhejhf efbefhehf jehfehfujhef efjhejfhjef ehjfejkhfjehf jehfjehfjkehfjk</p>
                         <a href="#">See more ..</a>
                     </div>
                     <div class="blogs">
                        <img src="../images/html.svg" alt="" class="blog-img">
                        <h3>Basics of html 5</h3>
                        <!-- ____ write a line describing your blog upto 10 words -->
                         <p>jfhejfh fehfujheufh ehfejhfejhf efjhejfhejf ejfhejfhejhf efbefhehf jehfehfujhef efjhejfhjef ehjfejkhfjehf jehfjehfjkehfjk</p>
                         <a href="#">See more ..</a>
                     </div>
                </div>
            </section>
        </article>
    </main>
</body>
</html>