<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact | Muhammad affan</title>
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/form-styles/forms.css">
    <link rel="stylesheet" href="style/button.css">
    <link rel="stylesheet" href="style/scroll.css">
</head>

<body>
    <div class="container">
    <main>
        <article>
            <section class="section-1" id="section-1">
                <form action="submit.html">
                    <h1>Contact <span class="highlight">me</span></h1>
                    <label for="Enter your name">
                        <input type="text" name="clien name" id="name" placeholder="Enter your name" required >
                    </label>
                    <label for="Enter Email">
                        <input type="text" name="clien name" id="name" placeholder="Enter Email" required >
                    </label>
                    <label for="Project name">
                        <input type="text" name="Project name" id="name" placeholder="Enter project name" required>
                    </label>
                    <label for="Enter time perioud for completion of your project">
                        <input type="text" name="time" id="name" placeholder="Enter time for delivery" required>
                    </label>
                    <label for="Enter your linked in Id link">
                        <input type="text" name="linked in" id="name" placeholder="Link to your linked in id" required>
                    </label>
                    <label for="Enter a brief description of your project">
                        <textarea name="description" placeholder="Enter brief description of your project" required></textarea>
                    </label>
                    <button type="submit">Submit</button>
                </form>
            </section>
        </article>
    </main>
    </div>
</body>

</html>