<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/form-styles/forms.css">
    <link rel="stylesheet" href="../style/button.css">
    <link rel="stylesheet" href="../style/scroll.css">
</head>
<body>
    <section class="submit">
        <h1>Thank you for your response</h1>
        <p>You will be notified about your project via email soon</p>
        <br>
        <a href="../index.html"><button type="button">Go back</button></a>
    </section>
</body>
</html>